@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

/* default styles */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow-fraca {
    box-shadow: rgba(93, 98, 102, 0.35) 0px 8px 24px;
}
.shadow-forte {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

p,label {
    font-size: 1.2rem;
    color: var(--gray);
}

h1 {
    font-size: 2.5rem;
}

:root {
    --yellow: #ffc107;
    --white: #ffffff;
    --gray: #535151;
}

html {
    height: 100vh;
    width: 100vw;
}
  
body {
    /* background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/4144222/pexels-photo-4144222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--yellow);
    /* ---- */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.image {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.010);
    padding: 1px;
    width: 70px;
    height: auto;
}

/* --------- */

/* containers styles, externos a div central*/
header {
    left: 0;
    padding: 25px;
    position: absolute;
    top: 0;
}

.container {
    height: 100vh;
    flex-direction: column;
}
/* ---------- */

/* container central ! */
.container-login {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: center;
    border-radius: 10px;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.bem-vindo, .registrar-login {
    padding: 30px;
    background-color: var(--yellow); 
}

/*  direita */
.email, .senha{
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
}
.input {
    padding: 5px;
    border: none;
    font-family:inherit;
}
ion-icon {
    font-size: 1.1rem;

}
.lembrar {
    align-items: center;
    justify-content: center;
}
.lembrar input{
    margin-right: 10px;
    
}
.button {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    outline: none;
    position: relative;
    color: var(--yellow); 
    background-color: var(--white);
}
.button:hover {
    background-color: rgba(70, 65, 65, 0.7);
    border: none;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.registrar {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}
.registrar h2 {
    color: var(--gray);
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
}
.submit {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;  
}

.registrar .btn{
    margin-top: 5px;
    font-size: 1rem;
    width: 120px;
}

/* esquerda */
.bem-vindo {
    background-color: var(--white);
    flex-direction: column;
    text-align: center;
}
.bem-vindo h1{
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 15px
}
.bem-vindo p {
    color: var(--gray);
}

/* media query */
@media all and (max-width: 770px){
    .bem-vindo, .registrar-login {
        padding: 15px;
    }
    .container-login{
        min-width: 350px;
        grid-template-columns: 100%;
        width: 80%;
    }
    header{
        padding: 10px;
    }
    .image{
        width: 60px;
    }
    .login{
        margin-top: 10px;
    }
}

@media all and (max-width: 400px){
    .bem-vindo, .registrar-login {
        padding: 10px;
    }
    h1 {
        font-size: 2rem;
    }
    p, label, .button {
        font-size: 1rem;
    }
    .container-login{
        min-width: 280px;
        grid-template-columns: 100%;
        width: 60%;
    }
    .image{
        width: 50px;
    }
    .registrar-buttons{
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
}
