@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

/* default styles */
p,label {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem;
}

:root {
    --yellow: #ffc107;
}

html {
    height: 100vh;
    width: 100vw;
}
  
body {
    /* background image */
    background-image: url(images/pexels-mikhail-nilov-7583935.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--yellow);
    /* ---- */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    /* background-color: yellow; */
}
.image {
    padding: 1px;
    width: 70px;
    height: auto;
}
/* --------- */

/* containers styles, externos a div central*/
header {
    left: 0;
    padding-top: 1rem;
    padding-left: 5rem;
    /* border: 1px black solid; */
    position: absolute;
    top: 0;
}

.container {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ---------- */

/* container central ! */
.container-login {
    /* border: 1px black solid; */
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: center;
    border-radius: 10px;
    overflow: hidden;
}

form {
    flex-direction: column;
}

.bem-vindo, .registrar-login {
    padding: 30px;
    background-color: var(--yellow);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  direita */

.email, .senha{
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
}
.registrar {
    flex-direction: column;
}
.registrar-buttons {
    width: 100%;
}

.button {
    padding: 5px 20px;  
    background-color: transparent;  
}
.submit {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;  

}

/* esquerda */
.bem-vindo {
    background-color: white;
    flex-direction: column;
    text-align: center;
}




/* media query */
@media all and (max-width: 570px){
    .container-login{
        grid-template-columns: 100%;
    }
}
